<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431162436586-j1egf91q9ocsg6ta5cb57n2cou7dvjq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431162436586-j1egf91q9ocsg6ta5cb57n2cou7dvjq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDvYHcvoFZyt00zvPmlXTeghD6XdVRs4MI</string>
	<key>GCM_SENDER_ID</key>
	<string>431162436586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miller.budget</string>
	<key>PROJECT_ID</key>
	<string>budget-68336</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-68336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431162436586:ios:959bcb86769e2c25</string>
	<key>DATABASE_URL</key>
	<string>https://budget-68336.firebaseio.com</string>
</dict>
</plist>